/12 timewaster.py
/13 Turkey.py
/16 Pseudocode.py
/17 MasterMind.py
/18 SnakeGame.py
/19 IMGONNACRASH!!!!.py
/20 PIG.py
/23 Ben.txt
/23 OOP Intro.py
/Analysis
/asd Jupyter.ipynb
/BloodPressure.pdf
/Employer Projects
/firstDB.sql
/Fundamentals
/scared.py
/SQL